<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Image</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>View Image</h2>
        <div class="image-container">
            <img src="{{ url_for('static', filename='dehazed_images/' ~ filename) }}" class="img-fluid" alt="Dehazed Image">
        </div>
        <div class="image-details mt-3">
            <p><strong>Filename:</strong> {{ filename }}</p>
            <a href="{{ url_for('download_image', filename=filename) }}" class="btn btn-success" download>Download Image</a>
        </div>
        <a href="{{ url_for('dehaze') }}" class="btn btn-secondary mt-3">Back</a>
    </div>
</body>
</html>
